<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Mobil sözlük</name>

  <description>
      Coskun POLAT tarafindan hazirlanan uygulama
  </description>

  <author href="https://www.facebook.com/coskunpolat02" email="coskunpolat02@gmail.com">
      Coşkun POLAT
  </author>
    
  <icon src="icon.png" />

</widget>
